
/*estructura*/

body {
   background: url(../img/run.jpeg) no-repeat center center fixed !important;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#respuesta_ajax{
  width: 100%;
  height: 800px;
}

.left-column{
  width: 10%;
  height:100%;
  float: left;
}


.right-column {
  width: 10%;
  height: 100%;
  float: left;
}
  
.contenido{
    width: 80%;
    height: 900px;
    float: left;
    background-color:white !important;
    margin-top: 20px;
    margin-bottom:80px;

}

  
/*estructura*/  
  

  
  
.red{
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

#datos{
    
    padding-top:10px;
    
    
}
.misdatos{
    float:left;
    margin-bottom: 2px;
    margin-left: 9%;
    color:black;
    margin-top:1px;
    font-weight:bold;
    font-size:20px;
    width:80%; 
    position:absolute;
    padding-left:1%;
    padding-top:2%;
    height: 22px;

}
 
.borde{
    border-style: solid;
    border-color:red;
    border-width: 1px;
}
  
#foto-profile{
    float:left;
    width:100%;
    height:200px;
    background-image: url("../images/grass.gif");
    background-color: #8dbf41;

}

#img-profile{
    width:150px;
    height:150px;
    margin-top:25px;
    margin-left:15px;
    border-style:solid; 
    border-color:black;
    border-width:1px;
    float: left;
    position: relative;

}

 
#img-profile img{
    width:100%;
    height:100%;
    border-style:solid; 
    border-color:white;
    border-width:6px;
    box-shadow: 0 0 10px black;

}
div#img-profile:hover img{
     opacity: 0.5;   
}
div#img-profile:hover input {
    display: block;
}

div#img-profile input {
    position:absolute;
    display:none;
}
div#img-profile input.update {
    top:70%;
    left:11%;
}





#img-profile span:hover{
     
     display: block;
}
#img-profile span.update{ 
    top:0;
    left:0;
}

/*https://jsfiddle.net/taditdash/72XyL/*/

  
  
#columnas-inputs{
    float:left;
    width:100%;
    padding-left:80px;
    margin-top:30px;
}

.input-class{
    float:left;
    padding-right:10px;
    margin-botton:10px;
    height:100px;
    width:30%;
    font-weight:bold;
}  
.select-div{
    float:left;
    padding-right:10px;
    margin-botton:10px;
    height:100px;
    width:30%;
    font-weight:bold;
}

.form{
    margin-top:150px;
    padding-top:100px;
}
#save-button{
    float:left;
    width: 100%;
    text-align: right;
    padding-right: 50px;
}
#back-button{
    border-top:1px;
    border-top-style:solid;
    border-top-color:grey;
    float:left;
    width: 100%;
    text-align: right;
    padding-right: 50px;
    margin-top:20px;
    padding-top: 5px;
}
#foto{
    height: 600px;
    
}

.redspan{
    color:red !important;
}

.alert-size{
 width: 90%;
}
.title{
    font-weight: bold;
}
#inf{
    margin-bottom: 20px;
}

#descripcion_personal{
    float:left;
    width:50%;
    height:150px;
    margin-top: 27px;
    padding: 5px;
    padding-left:10px;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    
}

p#desc{
    width:95%;
    height:50%;
    word-wrap:break-word;
    cursor: pointer;
}
 p.desc:hover{
     color:black;
}



#nombre{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

textarea{
 resize: none;
 color:black;
 width: 100%;
 height:70%;
 border-color: rgb(186,186,194);
}

#hidden-div{
    opacity: 1.5;
    position: absolute;
    background:rgba(0,0,0,0.5);
    width: 150px;
    height: 150px;
    z-index: 1;
    top:104px;
    padding-top:120px;
    padding-left:20px;
    
}

.hidden-div{
    opacity: 1.5;
    background:rgba(0,0,0,0.5);
    width: 150px;
    height: 80px;
}

#aria-edit{
   width:95%;
   height:350px;
}
.but{
    float:right;
}

/*chat*/

.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}



.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    max-height:300px;
    overflow-x:hidden;
}
.top-bar {
    background: #666;
    color: white;
    padding: 10px;
    position: relative;
    overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
}
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

#bloque
{
    margin-top:-19%;
} 




