body{
    background-color:#e9e9e9;
}
.well{
    width:100px;
    padding: 8px 0;
}
div{
    display:inherit !important;
}

div.cabecera-perfil{
    background-color:white;
    color:black;
    height: 70px;
    text-align: left;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
    margin-left: 1.6%;
}


@media screen and (max-width: 1600px) {
.cabecera-perfil{
    width:88.5%;padding-bottom: 10px;
}
.panel-sized{
  width:53.5%;
  margin:1px;
  float:left;
  padding-left:30px;
  }
}

@media screen and (max-width: 800px) {
.cabecera-perfil{ width:70%;padding-bottom: 10px;}
}


@media screen and (max-width: 700px) {
.cabecera-perfil{ width:100%;padding-bottom: 10px;}
.panel-sized{
  width:85% !important;
  float:left;
  }
}

@media screen and (max-width: 500px) {
.cabecera-perfil{ width:100%;padding-bottom: 10px;height: 130px;}
.panel-sized{
  width:95% !important;

  }
}


.widgt-area{
  padding-top:10px;
  padding-right:10px;
  display:inherit;
}


/*@media screen and (min-width: 1200px) {

  cabecera-perfil{ width:500px;}
}

@media screen and (min-width: 480px) {
    cabecera-perfil{ width:300px;}
}*/

/*@media screen and (min-width: 460px) {
  div.cabecera-perfil{ width:200px;}
}*/

 .img-profile{
    width:55px;
    height:55px;
    
 }
.bord{
  border: 1px;
  border-style:solid;
  border-color: red;
}

div.profile_img {
    padding-bottom:4px;
    padding-top: 8px;
    padding-left:1%;
    padding-right:1%;
    height: auto;
    width:auto;
    float: left;
}


div.profile_info{
    width:200px;
    float:left;
    padding-top: 1%;
    margin-left:1px;
    height: 100%;
}
div.profile_info ul{
  width: 100%;
  height: 100%;
  padding-left: 2%;
}

div.profile_publicaciones{
    width:150px;
    float:left;
    padding-top:1%;
    height: 100%;
}

div.profile_publicaciones ul{
    width: 100%;
    height: 100%;
    padding-left:3%;
}


div.profile_friends_fotos{
    width:150px;
    float:left;
    padding-top:1%;
    height: 100%;
}

div.profile_friends_fotos ul{
    width: 100%;
    height: 100%;
    padding-left:3%;
    padding-right: 3%;
}





.profile_info > span{
/*    display:block;
    width: auto;*/
}



.profile_friends_fotos > span{
    display: block;
    padding-top:10px;
    padding-bottom:10px;
}

div.sports{

    border-width: 1px;
    width:25%;
    float:left;
    padding-left:10px;
    padding-bottom: 10px;
    height: 100%;
}

.sports > span{
    display: block;
    width: auto;
    padding-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
}


span.nombre{
    font-size: 18px;
    font-weight: bold;
}
span.amigos{
    font-size: 15px;
    border-bottom-style:solid;
    border-width: 1px;
    border-bottom-color: grey;
    
}

span.hago{
    font-size: 15px;
}
span.enseno{
    font-size: 15px;
    border-bottom:1px solid #ddd

 
}

div.newposts{
    padding: 7px;
    z-index: 1;
    left: 450px;
    top: 10px;
}

#popborrar{    
    background-color: rgba(0, 0, 0, 0.6);
    height:100%;
    padding-top:5%;
}

.modal-dialog{
    background-color: white;

}
.input-group{
    width:90% !important;
    display: block !important;
    height: 30px !important;
}
.form-control{
    width: 80% !important;
     position:relative;
}
.input-group-addon{
   width: 20%;
   display: inherit !important;
   float: right;
}
.btn-comment{
    display:inherit !important;
    float: right;
}


@media screen and (max-width: 1600px) {

  .propaganda-muro-profesor{
      width: 415px;
      height: 600px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
      background-color: white;
      position:absolute;
      z-index: 1;
      left: 635px
  }
  
  .propaganda-muro-2{
      width: 415px;
      height: 600px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
      background-color: white;
      position:absolute;
      z-index: 1;
      left: 730px;
  }

}

@media screen and (max-width: 800px) {

  .propaganda-muro-1{
     display:none !important;
  }
  .propaganda-muro-2{
    display:none !important;
  }

}


@media screen and (max-width: 700px) {
  .propaganda-muro-1{
     display:none !important;
  }
  .propaganda-muro-2{
    display:none !important;
  }


}

@media screen and (max-width: 500px) {

  .propaganda-muro-1{
     display:none !important;
  }
  .propaganda-muro-2{
    display:none !important;
  }

}

.size-panel{
    width: 961px;
    padding-left: 19px;
}

.btn-custom {
  background-color: hsl(70, 11%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
  background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
  background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
  background-image: linear-gradient(#7b7f66, #3e4134);
  border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}

#boton_mas_comentarios{
    width: 50%; 
    margin-left: 15px;
    padding: 10px;
    text-align: center;
}

.alerta_new{
     /* This breaks the div from the normal HTML document. */

    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
    
    
    
    
/*    background: #e74c3c;
    width: 5px;
    border-radius: 100%;
    font-size: 24px;
    text-align: center;*/

}

#spacer{
  margin-bottom: 10px;
  width: 100%;
  height: 15px;
}

.modal.fade{
/*  margin-top: 500px;*/
  width:1px;
  height: 1px;
}

.modal.fade.in{
  width:100%;
  height:60%;
}


.container_gallery{
    margin: 30px;
    background-color:white;
    height: auto;  
}


.img_class{
  padding:3px; 
  
}


#respuesta_ajax{
  height: auto;
}
/*@media screen and (max-width: 1600px) {*/


.red{
 color:#FF4C1E;   
}
.blue{
    color:#3C39FF;
}
.orange{
    color:#E8BF12
}
.white{
    
}
.black{
    
}
.green{
    
}
.light-green{
    color:#2FE34C;
}
.light-blue{
    
}

.contorno {
    border-style: solid;
    border-width: 1px;
    border-color:#3C39FF;
}
#secciones{
    width:51%;
    font-size: 90%;
    padding-left:1%;
    padding-top:12px;
    height: 100%;
    float: left;
    position:relative; 
}

#secciones a{
    margin-right:1.2%;
    padding-top:10px;
}
#secciones a span{
    margin-right:1%;
}
#btn-video{
    background-color:#f5f5f5;
    color:#777777 !important;
    
}
#btn-video:hover{
  background-color:#777777 !important; 
  color:#f5f5f5 !important;
}
.input-group .form-control {

    height: 30px !important;
}
#nap{
    width:200px;
    margin-right:10px;
    font-weight: bold;
}

#noti_Container {
    position:relative;     /* This is crucial for the absolutely positioned element */
    border:1px solid blue; /* This is just to show you where the container ends */
    width:16px;
    height:16px;
}
.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: -6px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red; /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.55em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

#actividad{
/*     box-shadow:0.3px 0.3px 0.3px gray;*/
      box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
     padding-left:10px;
     padding-right:3px;
     padding-top:5px;
     background-color: 
}
